*{
    cursor: url(cursors/cursor-01.png), auto;
/*    overflow-x: hidden;*/
}

   #all{
        overflow-x:hidden;
    }

#navmobile{
    display: none;
    transition: all 1s ease;
}

#nav{
    z-index: 2200;
}

#catd{
    text-decoration: line-through;
}

#rabbit2{
    display: none;
}

::selection {
    background: #ff0000;
    color: #fff;
}
html, main, body{
    font-family: 'acumin-pro', sans-serif;
}

::-webkit-scrollbar { 
    display: none;
}

a{
    text-decoration: none;
    color: #ff0000;
}

#title{
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    position: fixed;
    left: 0%;
    text-align: center;
    top: 50%;
    transition: all 1s ease;
    padding-bottom: 1.4rem;
    padding-top: 5rem;
    border-bottom: solid 2px #ff0000;
    width: 100vh;
    background: #f9f0f0;
}

h1{
    font-family: 'brothers', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

h2{
    font-family: 'brothers', sans-serif;
}

p{
    line-height: 2.5rem;
    font-size: 2rem;
}

/*
nav{
width: 100.5vh;
z-index: 2;
transform: rotate(90deg);
transform-origin: top left;
position: fixed;
top: 0%;
display: inline-block;
left: 100%;
transition: all 1s ease;
}

nav ul li{
float: left;
box-sizing: border-box;
padding: 3.4vh;
font-family: 'brothers', sans-serif;
color: black;
text-align: left;
transform: rotate(-90deg);
}
*/


#nav{
    font-family: 'brothers',sans-serif;
    position: fixed;
    right: 0%;
    text-align: right;
    top: 0%;
    background: #f9f0f0;
    height: 100vh;
        border-left: solid 2px #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav ul{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    box-sizing: border-box;
}

#nav ul li{
    transition: all 0.5s ease;
    cursor: url(cursors/cursor-02.png), auto;

}

#nav ul li:hover span{
    display: none;
}

#nav ul li:hover:before{
    content: attr(hover-text);
}

.animalimgs{
    opacity: 0;
}

h3{
    width: 30%;
    margin: 0;
    margin-top: 1rem;
}
.wireframe {
    border: 2px solid #ff0000;
    background:
        linear-gradient(to top right,
            transparent calc(50% - 1px), #ff0000 calc(50% - 1px),
            #ff0000 calc(50% + 1px), transparent calc(50% + 1px)),
        linear-gradient(to bottom right,
            transparent calc(50% - 1px), #ff0000 calc(50% - 1px),
            #ff0000 calc(50% + 1px), transparent calc(50% + 1px));
    line-height: 0;
    margin: 0;
}

img:hover, a:hover, .wireframe:hover{
    cursor: url(cursors/cursor-02.png), auto;
}

#ratimg, #dragonimg, #snakeimg, #horseimg{
    width: 100%;
}

.wireframe, img{
    overflow-y: hidden;
}

/*
#ratwireframe:hover #ratimg{
    opacity: 1;
}
#oxwireframe:hover #oximg{
    opacity: 1;
}
#catwireframe:hover #catimg{
    opacity: 1;
}
#tigerwireframe:hover #tigerimg{
    opacity: 1;
}
#rabbitwireframe:hover #rabbitimg{
    opacity: 1;
}
#dragonwireframe:hover #dragonimg{
    opacity: 1;
}
#snakewireframe:hover #snakeimg{
    opacity: 1;
}
#horsewireframe:hover #horseimg{
    opacity: 1;
}
#goatwireframe:hover #goatimg{
    opacity: 1;
}
#monkeywireframe:hover #monkeyimg{
    opacity: 1;
}
#roosterwireframe:hover #roosterimg{
    opacity: 1;
}
#dogwireframe:hover #dogimg{
    opacity: 1;
}
#pigwireframe:hover #pigimg{
    opacity: 1;
}
*/

.wireframe{
    position: relative;
}

.emoji{
    position: absolute;
    display: block;
    width: 40px;
    left: 0;
    right: 0;
    margin: auto;
      top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    z-index: -10;
}


#rat:hover #ratimg{
    opacity: 1;
}
#rat:hover #rate{
    opacity: 0;
}

#ox:hover #oximg{
    opacity: 1;
}
#ox:hover #oxe{
    opacity: 0;
}

#cat:hover #catimg{
    opacity: 1;
}
#cat:hover #cate{
    opacity: 0;
}

#tiger:hover #tigerimg{
    opacity: 1;
}
#tiger:hover #tigere{
    opacity: 0;
}

#rabbit:hover #rabbitimg{
    opacity: 1;
}
#rabbit:hover #rabbite{
    opacity: 0;
}

#dragon:hover #dragonimg{
    opacity: 1;
}
#dragon:hover #dragone{
    opacity: 0;
}

#snake:hover #snakeimg{
    opacity: 1;
}
#snake:hover #snakee{
    opacity: 0;
}

#horse:hover #horseimg{
    opacity: 1;
}
#horse:hover #horsee{
    opacity: 0;
}

#goat:hover #goatimg{
    opacity: 1;
}
#goat:hover #goate{
    opacity: 0;
}

#monkey:hover #monkeyimg{
    opacity: 1;
}
#monkey:hover #monkeye{
    opacity: 0;
}

#rooster:hover #roosterimg{
    opacity: 1;
}
#rooster:hover #roostere{
    opacity: 0;
}

#dog:hover #dogimg{
    opacity: 1;
}
#dog:hover #doge{
    opacity: 0;
}

#pig:hover #pigimg{
    opacity: 1;
}
#pig:hover #pige{
    opacity: 0;
}




.abstracted{
    display: none;
}

#oximg, #catimg, #tigerimg, #rabbitimg, #goatimg, #roosterimg, #monkeyimg, #dogimg, #pigimg{
    width: 100%;
}

#oxwireframe, #catwireframe, #tigerwireframe, #rabbitwireframe{
    width: 88%;
}

#ox1, #cat1, #tiger1, #rabbit1{
    float: left;
    width: 50%;
}

#oxd, #catd, #tigerd, #rabbitd{
    float: left;
    width: 45%;
    padding-right: 5%;
}

.animal{
    height: 100vh;
    border-top: solid 2px #ff0000;
    box-sizing: border-box;
    display: block;
    padding-top: 2%;
}


#rat{
    width: 50%;
    float: left;
    border-right: solid 2px #ff0000;
    padding-left: 8%;
    padding-right: 2%;
}

#ox, #cat{
    width: 50%;
    height: 50vh;
    float: left;
    padding-left: 2%;
    padding-right: 8%;
}

.clear{
    float: none;
}

#tiger, #rabbit{
    height: 50vh;
    border-right: solid 2px #ff0000;
    padding-top: 4%;
    padding-left: 16%;
    padding-right: 4%;
}

#tigerrabbit{
    float: left;
    width: 50%;
}

#dragon{
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 8%;
    padding-top: 2%;
}

#snakehorse{
    float: left;
    width: 100%;
}

/*
#snake, #horse{
height: 50vh;
padding-left: 8%;
padding-right: 8%;
padding-top: 2%;
}
*/

#goat, #monkey, #rooster{
    width: 34%;
    float: left;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#goat{
    padding-left: 8%;
}

#monkey{
    padding-left: 4%;
    width: 32%;
    padding-right: 4%;
}

#rooster{
    padding-right: 8%;
}

#goat, #monkey{
    border-right: solid 2px #ff0000;
}

#dog, #pig, #snake, #horse{
    height: 100vh;
    width: 50%;
    float: left;
}

#dog, #snake{
    padding-right: 2%;
    padding-left: 8%;
    border-right: solid 2px #ff0000;
}

#pig, #horse{
    padding-right: 8%;
    padding-left: 2%;
}

.animalname{
    font-family: 'brothers', sans-serif;
    color: #ff0000;
    margin-bottom: 1.4rem;   
}

.description{
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #ff0000;
}

#partone{
    transition: all 0.4s ease;
    opacity: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60%;
    left: 18%;
}


#introtext{
    width: 100%;
    transition: all 1s ease;
    color: #ff0000;
    background: #f9f0f0;
    height: 100vh;
}


#parttwo{
    transition: all 1s ease;
    opacity: 0;
    font-size: 1rem;
    line-height: 1.4rem;
}

#partonemobile{
    display: none;
}

#titlemobile{
    text-align: center;
    display: none;
    transition: all 1s ease;
}












/*


@media screen and (max-width: 1044px){

    .description{
        font-size: 1.6rem;
        line-height: 2rem;
    }
 
}




*/







@media screen and (max-width: 768px){
    html{
        overflow-x: hidden;
    }
    
    .animalname{
        font-size: 1.4rem;
        padding-top: 4%;
    }
    
    .description{
        padding-top: 3% !important;
    }
    
        #rabbitimg{
        border-top: solid 2px #ff0000;
    }
    
    #partone{
        display: none;
    }
    
      #pig{
          margin-bottom: 3rem;
      }

    #titlemobile{
        opacity: 1;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: solid 2px #ff0000;
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #f9f0f0;
        top: 0;
        display: block;
    }

    #partonemobile{
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 7%;
        padding-top: 6.5rem;
    }

    #title{
        left: -20%;
    }

    #cat{
        display: none;
    }

    #introtext{
        height: auto;
    }

    .animal, #rat, #ox, #cat, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig, #ratoxcat, #tigerrabbit, #tigerrabbitdragon, #snakehorse, #goatmonkeyrooster, #dogpig{
        width: 100%;
        float: clear;
        height: auto;
        border: none;
        padding: 0;
    }

    #rat, #ox, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig{
        border-top: solid 2px #ff0000;
    }

    .wireframe{
        border-top: none;
        box-sizing: border-box;
    }

    #ratimg, #ratwireframe, #oximg, #oxwireframe, #tigerimg, #tigerwireframe, #rabbitimg, #rabbitwireframe, #ox1, #oxd, #tigerimg, #tigerwireframe, #rabbitimg, #rabbitwireframe, #dragonimg, #dragonwireframe, #snakeimg, #snakewireframe, #horseimg, #horsewireframe, #goatimg, #goatwireframe, #monkeyimg, #monkeywireframe, #roosterimg, #roosterwireframe, #dogimg, #dogwireframe, #pigimg, #pigwireframe, #tiger1, #rabbit1{
        width: 100%;
    }

    #rabbit1{
        display: none;
    }
    
    h3{
        margin: 5%;
    }
    .description, #tigerd, #rabbitd{
        margin-bottom: 1rem;
        padding: 5%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 100%;
        box-sizing: border-box;
    }

    #nav{
        display: none;
    }

    #navmobile{
        width: 100%;
        display: block;
        position: fixed;
        z-index: 20;
        font-family: 'brothers',sans-serif;
        bottom: 0;
        border-top: solid 2px #ff0000;
        padding-top: 1.2rem;
        background: #f9f0f0;
        padding-bottom: 1.2rem;
    }
    #navmobile ul{
        background: #f9f0f0;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }
    
    #rabbit2{
        display: block;
    }

    nav ul a{
        width: 100%;
    }

    /*
    #navmobile ul a li{
    text-align: center;
    box-sizing: border-box;
    display: inline;
    padding-left: 2.8%;
    padding-right: 2.8%;
}

    */
    #rat img, #ox img, #tiger img, #rabbit img, #dragon img, #snake img, #horse img, #goat img, #monkey img, #rooster img, #dog img, #pig img{
        opacity: 1;
    }
}









@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      
    html{
        overflow-x: hidden;
    }
    
    .animalname{
        font-size: 1.4rem;
        padding-top: 4%;
    }
    
    .description{
        padding-top: 3% !important;
    }
    
        #rabbitimg{
        border-top: solid 2px #ff0000;
    }
    
    #partone{
        display: none;
    }
    
      #pig{
          margin-bottom: 3rem;
      }

    #titlemobile{
        opacity: 1;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: solid 2px #ff0000;
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #f9f0f0;
        top: 0;
        display: block;
    }

    #partonemobile{
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 7%;
        padding-top: 6.5rem;
    }

    #title{
        left: -20%;
    }

    #cat{
        display: none;
    }

    #introtext{
        height: auto;
    }

    .animal, #rat, #ox, #cat, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig, #ratoxcat, #tigerrabbit, #tigerrabbitdragon, #snakehorse, #goatmonkeyrooster, #dogpig{
        width: 100%;
        float: clear;
        height: auto;
        border: none;
        padding: 0;
    }

    #rat, #ox, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig{
        border-top: solid 2px #ff0000;
    }

    .wireframe{
        border-top: none;
        box-sizing: border-box;
    }

    #ratimg, #ratwireframe, #oximg, #oxwireframe, #tigerimg, #tigerwireframe, #rabbitimg, #rabbitwireframe, #ox1, #oxd, #tigerimg, #tigerwireframe, #rabbitimg, #rabbitwireframe, #dragonimg, #dragonwireframe, #snakeimg, #snakewireframe, #horseimg, #horsewireframe, #goatimg, #goatwireframe, #monkeyimg, #monkeywireframe, #roosterimg, #roosterwireframe, #dogimg, #dogwireframe, #pigimg, #pigwireframe, #tiger1, #rabbit1{
        width: 100%;
    }

    #rabbit1{
        display: none;
    }
    
    h3{
        margin: 5%;
    }
    .description, #tigerd, #rabbitd{
        margin-bottom: 1rem;
        padding: 5%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 100%;
        box-sizing: border-box;
    }

    #nav{
        display: none;
    }

    #navmobile{
        width: 100%;
        display: block;
        position: fixed;
        z-index: 20;
        font-family: 'brothers',sans-serif;
        bottom: 0;
        border-top: solid 2px #ff0000;
        padding-top: 1.2rem;
        background: #f9f0f0;
        padding-bottom: 1.2rem;
    }
    #navmobile ul{
        background: #f9f0f0;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }
    
    #rabbit2{
        display: block;
    }

    nav ul a{
        width: 100%;
    }

    /*
    #navmobile ul a li{
    text-align: center;
    box-sizing: border-box;
    display: inline;
    padding-left: 2.8%;
    padding-right: 2.8%;
}

    */
    #rat img, #ox img, #tiger img, #rabbit img, #dragon img, #snake img, #horse img, #goat img, #monkey img, #rooster img, #dog img, #pig img{
        opacity: 1;
    }
}



@media screen (min-width: 1024px) {

    html{
        overflow-x: hidden;
    }
    
    .animalname{
        font-size: 1.4rem;
        padding-top: 4%;
    }
    
    .description{
        padding-top: 3% !important;
    }
    
        #rabbitimg{
        border-top: solid 2px #ff0000;
    }
    
    #partone{
        display: none;
    }
    
      #pig{
          margin-bottom: 3rem;
      }

    #titlemobile{
        opacity: 1;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: solid 2px #ff0000;
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #f9f0f0;
        top: 0;
        display: block;
    }

    #partonemobile{
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 7%;
        padding-top: 6.5rem;
    }

    #title{
        left: -20%;
    }

    #cat{
        display: none;
    }

    #introtext{
        height: auto;
    }

    .animal, #rat, #ox, #cat, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig, #ratoxcat, #tigerrabbit, #tigerrabbitdragon, #snakehorse, #goatmonkeyrooster, #dogpig{
        width: 100%;
        float: clear;
        height: auto;
        border: none;
        padding: 0;
    }

    #rat, #ox, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig{
        border-top: solid 2px #ff0000;
    }

    .wireframe{
        border-top: none;
        box-sizing: border-box;
    }

    #ratimg, #ratwireframe, #oximg, #oxwireframe, #tigerimg, #tigerwireframe, #rabbitimg, #rabbitwireframe, #ox1, #oxd, #tigerimg, #tigerwireframe, #rabbitimg, #rabbitwireframe, #dragonimg, #dragonwireframe, #snakeimg, #snakewireframe, #horseimg, #horsewireframe, #goatimg, #goatwireframe, #monkeyimg, #monkeywireframe, #roosterimg, #roosterwireframe, #dogimg, #dogwireframe, #pigimg, #pigwireframe, #tiger1, #rabbit1{
        width: 100%;
    }

    #rabbit1{
        display: none;
    }
    
    h3{
        margin: 5%;
    }
    .description, #tigerd, #rabbitd{
        margin-bottom: 1rem;
        padding: 5%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 100%;
        box-sizing: border-box;
    }

    #nav{
        display: none;
    }

    #navmobile{
        width: 100%;
        display: block;
        position: fixed;
        z-index: 20;
        font-family: 'brothers',sans-serif;
        bottom: 0;
        border-top: solid 2px #ff0000;
        padding-top: 1.2rem;
        background: #f9f0f0;
        padding-bottom: 1.2rem;
    }
    #navmobile ul{
        background: #f9f0f0;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }
    
    #rabbit2{
        display: block;
    }

    nav ul a{
        width: 100%;
    }

    /*
    #navmobile ul a li{
    text-align: center;
    box-sizing: border-box;
    display: inline;
    padding-left: 2.8%;
    padding-right: 2.8%;
}

    */
    #rat img, #ox img, #tiger img, #rabbit img, #dragon img, #snake img, #horse img, #goat img, #monkey img, #rooster img, #dog img, #pig img{
        opacity: 1;
    }
}
















@media only screen and (min-device-width: 375px) and (max-device-height: 812px){ 
       html{
        overflow-x: hidden;
    }
    
    #rabbitimg{
        border-top: solid 2px #ff0000;
    }
    
    
      #pig{
          margin-bottom: 3rem;
      }
    
    #partone{
        display: none;
    }

    #titlemobile{
        opacity: 1;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: solid 2px #ff0000;
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #f9f0f0;
        top: 0;
        display: block;
    }

    #partonemobile{
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 10%;
        padding-top: 0%;
        padding-top: 6.5rem;
    }

    #title{
        left: -20%;
    }

    #cat{
        display: none;
    }

    #introtext{
        height: auto;
    }

    .animal, #rat, #ox, #cat, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig, #ratoxcat, #tigerrabbit, #tigerrabbitdragon, #snakehorse, #goatmonkeyrooster, #dogpig{
        width: 100%;
        float: clear;
        height: auto;
        border: none;
        padding: 0;
    }

    #rat, #ox, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig{
        border-top: solid 2px #ff0000;
    }

    .wireframe{
        border-top: none;
        box-sizing: border-box;
    }

    #rat img, #ratwireframe, #ox img, #oxwireframe, #tiger img, #tigerwireframe, #rabbit img, #rabbitwireframe, #ox1, #oxd, #tiger img, #tigerwireframe, #rabbit img, #rabbitwireframe, #dragon img, #dragonwireframe, #snake img, #snakewireframe, #horse img, #horsewireframe, #goat img, #goat wireframe, #monkey img, #monkeywireframe, #rooster img, #roosterwireframe, #dog img, #dogwireframe, #pig img, #pigwireframe, #tiger1, #rabbit1{
        width: 100%;
    }

    #rabbit1{
        display: none;
    }
    
    h3{
        margin: 5%;
    }
    .description, #tigerd, #rabbitd{
        margin-bottom: 1rem;
        padding: 5%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 100%;
        box-sizing: border-box;
        padding-top: 5% !important; 
    }

    #nav{
        display: none;
    }

    #navmobile{
        width: 100%;
        display: block;
        position: fixed;
        z-index: 20;
        font-family: 'brothers',sans-serif;
        bottom: 0;
        border-top: solid 2px #ff0000;
        padding-top: 1.2rem;
        background: #f9f0f0;
        padding-bottom: 1.2rem;
    }
    #navmobile ul{
        background: #f9f0f0;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }
    
    #rabbit2{
        display: block;
    }

    nav ul a{
        width: 100%;
    }

    /*
    #navmobile ul a li{
    text-align: center;
    box-sizing: border-box;
    display: inline;
    padding-left: 2.8%;
    padding-right: 2.8%;
}

    */
    #rat img, #ox img, #tiger img, #rabbit img, #dragon img, #snake img, #horse img, #goat img, #monkey img, #rooster img, #dog img, #pig img{
        opacity: 1;
    }
}

















@media only screen and (max-width: 486px){
      html{
        overflow-x: hidden;
    }
    
    #all{
        overflow-x:hidden;
    }
    
    #partone{
        display: none;
    }

    #titlemobile{
        opacity: 1;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: solid 2px #ff0000;
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #f9f0f0;
        top: 0;
        display: block;
    }

    #partonemobile{
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 10%;
        padding-top: 0%;
        padding-top: 6.5rem;
    }

    #title{
        left: -20%;
    }

    #cat{
        display: none;
    }

    #introtext{
        height: auto;
    }

    .animal, #rat, #ox, #cat, #tiger, #rabbit, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig, #ratoxcat, #tigerrabbit, #tigerrabbitdragon, #snakehorse, #goatmonkeyrooster, #dogpig{
        width: 100%;
        float: clear;
        height: auto;
        border: none;
        padding: 0;
    }

    #rat, #ox, #tiger, #rabbit, #rabbitm, #dragon, #snake, #horse, #goat, #monkey, #rooster, #dog, #pig{
        border-top: solid 2px #ff0000;
    }

    #tiger{
        border-top: none;
    }
    
    .wireframe{
        border-top: none;
        box-sizing: border-box;
    }

    #rat img, #ratwireframe, #ox img, #oxwireframe, #tiger img, #tigerwireframe, #rabbit img, #rabbitwireframe, #ox1, #oxd, #tiger img, #tigerwireframe, #rabbit img, #rabbitwireframe, #dragon img, #dragonwireframe, #snake img, #snakewireframe, #horse img, #horsewireframe, #goat img, #goat wireframe, #monkey img, #monkeywireframe, #rooster img, #roosterwireframe, #dog img, #dogwireframe, #pig img, #pigwireframe, #tiger1, #rabbit1{
        width: 100%;
    }

    #rabbit1{
        display: none;
    }
    
    h3{
        margin: 5%;
    }
    .description, #tigerd, #rabbitd{
        margin-bottom: 1rem;
        padding: 5%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 100%;
        box-sizing: border-box;
        padding-top: 5% !important;
    }

    #nav{
        display: none;
    }

    #navmobile{
        width: 100%;
        display: block;
        position: fixed;
        z-index: 20;
        font-family: 'brothers',sans-serif;
        bottom: 0;
        border-top: solid 2px #ff0000;
        padding-top: 1.2rem;
        background: #f9f0f0;
        padding-bottom: 1.2rem;
    }
    #navmobile ul{
        background: #f9f0f0;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }
    
    #rabbit2{
        display: block;
    }

    nav ul a{
        width: 100%;
    }

    /*
    #navmobile ul a li{
    text-align: center;
    box-sizing: border-box;
    display: inline;
    padding-left: 2.8%;
    padding-right: 2.8%;
}

    */
    #ratimg, #oximg, #tigerimg, #rabbitimg, #dragonimg, #snakeimg, #horseimg, #goatimg, #monkeyimg, #roosterimg, #dogimg, #pigimg{
        display: none;
    }
    
    .abstracted, #tigerm{
        display: block;
    }
    
    
    .animalname{
        font-size: 5rem;
        position: absolute;
        margin-top: -72px;
        color: #ff0000;
        margin-left: -10px;
        width: 100%;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
/*
        	text-shadow:
		-2px -2px 0 #fff,
		2px -2px 0 #fff,
		-2px 2px 0 #fff,
		2px 2px 0 #fff;
*/
    }

    .wireframe {
/*    border: 2px solid #ff0000;*/
    background: none;
    line-height: 0;
    margin: 0;
}
    .emoji{
        display: none;
    }
    
    
}
